<template>
  <div class="text-primary">
    <form @submit="vehicleData" method="POST">
    <label for="v-name">Vehicle name:</label>
    <br>
    <input type="text" v-model="vehicles.vehicle_name" name="vehicle_name" id="v-name" placeholder="Vehicle 22" required>
    <br>
    <br>


    <label for="vehicle_type">Vehicle type:</label>
    <br>
    <select v-model="vehicles.vehicle_type" required>
      <option disabled values="">Please select</option>
      <option value="car">Car</option>
      <option value="van">Van</option>
      <option value="truck">Truck</option>
      <option value="container">Container</option>
      <option value="trailer">Trailer</option>
      <option value="dumper">Dumper</option>
    </select>
    <br>
    <br>


    <label for="vehicle_model">Vehicle model:</label>
    <br>
    <select v-model="vehicles.vehicle_model" required>
      <option disabled values="">Please select</option>
      <option value="audi">Audi</option>
      <option value="bmw">Bmw</option>
      <option value="citroen">Citroen</option>
      <option value="honda">Honda</option>
      <option value="Mercedes">Mercedes</option>
      <option value="Wolkswagen">Wolkswagen</option>
    </select>
    <br>
    <br>
    <br>

    <label for="v-license">License plates</label>
    <br>
    <input type="text" name="license_plates" v-model="vehicles.vehicle_license_plates" id="v-license" pattern="[A-Z]{2}-[0-9]{4}-[A-Z]{2}" title="French Number Plate"  placeholder="KU-1234-AB" required>
    <br>
    <br>

    <label for="last-registration">Last date of registration:</label>
    <br>
    <input type="date" name="last_date_of_registration" v-model="vehicles.vehicle_last_date_of_registration" id="last-registration" placeholder="03.03.2021">
    <br>
    <br>

    <label for="submission_registration">Date of submission of registration:</label>
    <br>
    <input type="date" name="date_of_submission_of_registration" v-model="vehicles.vehicle_date_of_submission_of_registration" id="submission-registration" placeholder="10.06.2021">
    <br>
    <br>
    <br>
    <p>Current date: {{currentDate()}}</p>
    <button class="btn btn-success" type="submit" >Send data</button>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

export default {
  name: 'VehicleForm',
  methods: {
    vehicleData(e){
      this.axios.post("http://localhost:3000/vehicles", this.vehicles)
      .then((result) => {
        console.warn(result)
      })
      e.preventDefault();
     },
    currentDate() {
      const current = new Date();
      const date = `${current.getMonth()+1}/${current.getDate()}/${current.getFullYear()}`;
      return date;
    }
  },
    data(){
      return {
        vehicles: {
          vehicle_name: null,
          vehicle_type: null,
          vehicle_model: null,
          vehicle_license_plates: null,
          vehicle_last_date_of_registration: null,
          vehicle_date_of_submission_of_registration: null,
        }
      }
    }
  
  
}
</script>

